body {
    text-align: center;
    min-height: 400vh;
  }
  .bar {
    width: 80vw;
    height: 30vh;
    border: 4px solid gray;
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: stretch;
    gap: 8px;
  }
  .amount {
    margin: 20px;
    font-size: 36px;
  }
  
  .box {
    background-color: #c0a711;
    flex-grow: 1;
  }
  